.task-card {
  background-color: var(--card-background);

  padding: 0.8vw;
  border-radius: 8px;
  box-shadow: 10px 4px 6px var(--shadow-color);
  margin: 0.5rem 0;

  display: flex;
  flex-direction: row;

  align-items: center;

  text-align: left;
}

.circle {
  position: relative;

  width: 1.3vw;
  height: 1.3vw;

  background-color: var(--card-background);

  border: solid var(--primary-color) 3px;
  border-radius: 50%;

  margin-right: 0.8vw;
}

.done .circle {
  background-image: url(../assets/done.png);
  background-size: cover;
  
  background-color: var(--primary-color);
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
}