:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --green: #088c2c;
  --grey: #242424;
  --white: #ffffffde;
  --light-gray: color-mix(in srgb, #ffffffde, #242424 50%);

  color-scheme: light dark;
  background: var(--grey);
  color: var(--white);

  margin: 0 auto;
  padding: 2rem;
  text-align: left;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;

  margin-bottom: 1vw;

  color: var(--white);
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 400;

  color: var(--light-gray);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 40vw);

  row-gap: 1vw;

  justify-content: space-evenly;
  text-align: center;

  border: red 1px solid;
}

.todo {
  grid-column: 1; /* Colonna di sinistra */
}

.done {
  grid-column: 2; /* Colonna di destra */
}
